// Material Backgrounds Pack 2

.mb-bg-fabric {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../assets/images/material-backgrounds/mb-bg-fabric.jpg);
}

.mb-bg-coats {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../assets/images/material-backgrounds/mb-bg-coats.jpg);
}

.mb-bg-store {
	background-image: 
	linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	url(../assets/images/material-backgrounds/mb-bg-store.jpg);
}
